In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
risk_free_rate = 3.8 / 100  # 3.8% from 10 year US treasury bond
n_portfolios = 10000  # number of portfolios to simulate

In [3]:
df = pd.read_csv('data.csv')
df = df.dropna()  # VRTX has null PX_LAST in 2015-05-12
df.head()

         Date  PX_LAST  CUR_MKT_CAP   PX_VOLUME Ticker  Market_Value
0  2014-01-02    76.27  134027.7199   5212460.0    DIS  1.022229e+07
1  2014-01-03    76.11  133746.5552   4061042.0    DIS  1.017945e+07
2  2014-01-06    75.82  133236.9441   6816693.0    DIS  1.010203e+07
3  2014-01-07    76.34  134150.7295   4511157.0    DIS  1.024107e+07
4  2014-01-08    75.22  132182.5763  10914858.0    DIS  9.942773e+06

In [4]:
tickers = df['Ticker'].unique()
tickers

array(['DIS', 'UHS', 'GOOGL', 'LOW', 'BSX', 'JPM', 'EOG', 'SBAC', 'STT',
       'DVN', 'VRTX', 'BK', 'ALL', 'WY', 'OXY', 'ON', 'EXC', 'UAL',
       'AKAM', 'SMCI', 'LYV', 'AMD', 'VLO', 'NI', 'DRI', 'SJM', 'APH',
       'MAS', 'CMG', 'TXT'], dtype=object)

In [5]:
def daily_return(df: pd.DataFrame) -> pd.DataFrame:
    if 'Ticker' not in df.columns or 'PX_LAST' not in df.columns:
        raise ValueError('Input DataFrame must have columns Ticker and PX_LAST')
    
    df['Daily_Return'] = df.groupby('Ticker')['PX_LAST'].pct_change()
    df.loc[df['Daily_Return'].isna(), 'Daily_Return'] = 0
    return df

In [6]:
df = daily_return(df)
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,Date,PX_LAST,CUR_MKT_CAP,PX_VOLUME,Ticker,Market_Value,Daily_Return
0,2014-01-02,76.27,134027.7199,5212460.0,DIS,1.022229e+07,0.000000
1,2014-01-03,76.11,133746.5552,4061042.0,DIS,1.017945e+07,-0.002098
2,2014-01-06,75.82,133236.9441,6816693.0,DIS,1.010203e+07,-0.003810
3,2014-01-07,76.34,134150.7295,4511157.0,DIS,1.024107e+07,0.006858
4,2014-01-08,75.22,132182.5763,10914858.0,DIS,9.942773e+06,-0.014671